<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
     <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar" ></span>
          <span class="icon-bar" ></span>
          <span class="icon-bar" ></span>
       </button>
       <a href="/" class="navbar-brand">iLoveMyBengaluru!</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/infosys">Infosys</a></li>
          <li><a href="/nationalpark">Nationalpark</a></li>
          <li><a href="/palace">Palace</a></li>
          <li><a href="/vidhansoudha">Vidhansoudha</a></li>
          <li><a href="/wonderla">Wonderla</a></li>
        </ul>
    </div>
 </div>
</div>
